.modal {
  position: fixed;
  top: 30vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 360px;
  //transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 20px;

  border-radius: 20px;

  z-index: 4;
  perspective: 1000px;
  opacity: 0;
  transform: rotateY(-90deg);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none;
  background: white;

  &__onscreen {
    opacity: 1;
    transform: rotateY(0);
    pointer-events: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }

  &__offscreen {

  }
}