.main {
  background-color: #fff5e9;
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;


  &__header {
    display: flex;
    margin-top: 50px;
    max-width: 80vw;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;

    &__text {
      color: black;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 42px;
      text-transform: uppercase;
      text-align: center;
      margin: 0 auto;
    }

    &__subtext {
      color: #5a5a5a;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }

  }

  &__image {
    max-width: 80vw;
    height: 330px;
    margin: 0 auto;
  }

}

.ellipse969 {
  width: 420px;
  height: 420px;
  flex-shrink: 0;

  position: fixed;
  bottom: -50px;
  left: -22px;

  border-radius: 420px;
  background: #ffd199;
  filter: blur(100px);
  z-index: 0;
}

.gradientTop {
  width: 100vw;
  height: 240px;
  flex-shrink: 0;
  background: linear-gradient(0deg, rgba(255, 213, 161, 0.00) 0%, rgba(255, 213, 161, 0.40) 55.21%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.claimGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-top: 24px;
  width: 80vw;
  max-width: 400px;
  z-index: 1;

  &__input {
    width: 100%;
    border-radius: 16px;
    border: 1px solid black;
    height: 56px;
    padding: 16px 24px;
    background: none;
    color: black;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  &__button {

    display: flex;
    height: 56px;
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    background-color: black;
    cursor: pointer;

    &__text {
      color: white;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
    }

    &__icon {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }
  }

  &__button:hover {
    box-shadow: black 0 0 16px 0;
  }

}

.nftMintedTitle {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */
}

.mainContentBlurred {
  background: rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(5px);
  z-index: 3;
}

.nftMintedSubtitle {
  color: #818181;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}